.cardItem {
  width: 400px;
  height: auto;
  background-color: white;
  box-shadow: -4px -8px 36px 4px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: -4px -8px 36px 1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: -4px -8px 36px 4px rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;

  .image {
    max-width: 100%;
    height: 300px; /* Set a fixed height for the images */
    padding: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;

    .price {
      display: inline-block;
      margin-left: 30px;
      color: #363838;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 23px;
    }
  }

  .actionButton {
    border-radius: 21px;
    padding: 10px;
    background: #363838;
    width: 160px;
    height: 40px;
    flex-shrink: 0;
    color: #fffff0;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
    max-width: auto;
    height: auto;
  }
}
