.customIndicator {
    position: relative;
    background-color: #363838;
    width: 6px;
    height: 6px;
    margin: 20px 5px 0px;
    border-radius: 50%;
    display: inline-block;
    z-index: 1000;
    top: 0px;
    left: 0;
  
  }
  
  .customIndicator.selected {
    background-color: #ffef35;
  }
  
.sliderContainer{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 25px;
    margin-bottom: 25px;
    
}