.contentHeader {
  padding-top: 30px;
  padding-bottom: 30px;
  max-height: 120px;
  position: relative;
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .navigation {
    width: 100%;

    ul {
      @media (max-width: 768px) {
        height: 600px;
        box-shadow: 50px 10px 114px 1px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 50px 10px 114px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 50px 10px 114px 0px rgba(0, 0, 0, 0.75);
      }
    }

    .menuLinks {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 768px) {
        transition: 1s ease-in-out;
        justify-content: center;
        display: flex;
        position: absolute;
        align-items: center;
        left: 0px;
        right: 0px;
        top: -1000px;
        height: 500px !important;
        flex-direction: column;
        box-shadow: 10px 10px 114px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 10px 10px 114px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 114px 0px rgba(0, 0, 0, 0.75);
        z-index: 1000 !important;
        background-color: white;
      }

      li {
        margin-bottom: 30px;
        a {
          color: rgba(54, 56, 56, 0.9);
          text-align: center;
          font-family: Montserrat;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 22px;
        }
      }
    }

    .activeLinks {
      @media (max-width: 768px) {
        background-color: white;
        transition: 1s ease-in-out;
        justify-content: center;
        display: flex;
        position: absolute;
        align-items: center;
        left: 0px;
        right: 0px;
        top: 0px;
        height: 500px !important;
        flex-direction: column;
        box-shadow: 10px 10px 114px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 10px 10px 114px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 114px 0px rgba(0, 0, 0, 0.75);
        z-index: 1000 !important;
      }

      li {
        margin-bottom: 30px;
        a {
          color: rgba(54, 56, 56, 0.9);
          text-align: center;
          font-family: Montserrat;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 22px;
        }
      }
    }
  }
}

.header {
  width: 100%;
  position: fixed;
  background-color: white;
  left: 0;
  top: 0;
  right: 0;
  max-height: 90px;
  z-index: 1000;

  .link {
    position: relative;
  }

  .link::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px; /* Set the thickness of the underline */
    bottom: -8px;
    left: 0;
    background-color: rgba(54, 56, 56, 0.9); /* Set the underline color */
    transition: width 0.3s ease;
  }

  .link:hover::before,
  .link:active::before {
    width: 100%;
  }

  .active {
    @media (min-width: 769px) {
      position: relative;
    }

    @media (max-width: 768px) {
      color: #089000 !important;
    }
  }

  .active::before {
    @media (min-width: 769px) {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px; /* Set the thickness of the underline */
      bottom: -8px;
      left: 0;
      background-color: #089000; /* Set the underline color */
    }
  }
}
